/* body-color */
/* #body-color{
    background-color: #F0FFF0;
}
.bg-color{
    background-color: #F0FFF0;
} */
/* title-color */
.phone-title{
    color: #0A0826;
}
.phoe-h5-color{
    color: #0B0D17;
}